<!-- Doctor search container -->
<div class="app">
  <h4 class="app_title"><i class="fa fa-user-md"></i>Dodgy Doctors</h4>
  <div class="app_top">
    Check to see if your doctor, nurse, or clinical officer is registered.<br/><small><em>Can't find a name? Send us an email <a href="mailto:starhealth@codeforkenya.org" target="_blank">starhealth@codeforkenya.org</a></em></small>
  </div>
  <div class="app_bottom">
    <select class="form-control" id="search-type">
      <option value="doctor">Doctor Search</option>
      <option value="nurse">Nurse Search</option>
      <option value="clinical officer">Clinical Officer Search</option>
    </select>
    <input type="text" placeholder="Start typing doctor's name" class="search form-control" id="doctorName" />

    <button class='btn btn-primary red_button' href="#myModal" role="button" data-toggle="modal" id="grabDetails">
      Search
    </button>
    <!-- Contribution section -->
    <div class="contribution">
      <a href="#embed_1_modal" data-toggle="modal">Embed</a>
    </div>
  </div>
</div>
