<div class="app">
  <!-- Search for nearest facility -->
  <h4 class="app_title"><i class="fa fa-map-marker"></i>Nearest Facility</h4>
  <div class="app_top">
    <p>Find the nearest doctor or health facility.</p>
  </div>
  <div class="app_bottom text-center">
    <input type="text" placeholder="Start typing the name of your area" class="search form-control" id="areaName" />
    <button class='btn btn-primary' id="facility-search" href="#myModal" data-toggle="modal" role="button">Search </button>
    <!-- Contribution section -->
    <div class="contribution">
      <a href="#embed_3_modal" data-toggle="modal">Embed</a>
    </div>
  </div>
</div>
