<!-- Apps container -->
<div class="container">
    <div class="row" id="apps">
        <div class="col-md-4">
            {% include apps/dodgy-dr.html %}
        </div>

        <div class="col-md-4">
            {% include apps/nhif.html %}
        </div>
        <div class="col-md-4">
            {% include apps/nearest-facilities.html %}
        </div>
    </div>
</div>
<!-- Ad container -->
<div class="ad container">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Star_health_Banner_01 -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-6073518695523995"
         data-ad-slot="9713106373"
         data-ad-format="auto">
    </ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
