<div class="ad container">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- Star_health_responsive_ad -->
  <ins class="adsbygoogle"
  style="display:block"
  data-ad-client="ca-pub-6073518695523995"
  data-ad-slot="5143305979"
  data-ad-format="auto"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>


<footer class="site-footer clearrfix" role="contentinfo">
  <div class="footer-wrapper clearfix container">
    <div class="row" id="footer">

      <div class="col-md-12">
        <div class="footer_inner">
          <div class="col-md-3">
            <a href="https://the-star.co.ke">
              <img src="http://www.the-star.co.ke/sites/all/themes/thestar_theme/logo-big.png"/>
            </a>
            <br clear="all">
            <br clear="all">
            <a href="http://code4kenya.org" target="_blank">
              <span>Built by </span>
              <br clear="all">
              <br clear="all">
              <img src="img/cfk-logo.png">
            </a>
          </div>
          <!-- Partner sites -->
          <div class="col-md-3">
            <h4>Partner sites</h4>
            <ul>
              <li><a href="http://classic105.com">Classic 105</a></li>
              <li><a href="http://eastfm.com">East FM</a></li>
              <li><a href="http://kiss100.co.ke/">Kiss 100</a></li>
              <li><a href="http://radiojambo.co.ke/">Radio Jambo</a></li>
              <li><a href="http:/mpasho.co.ke/">Mpasho</a></li>
            </ul>
          </div>
          <!-- Social sharing -->
          <div class="col-md-3">
            <h4>FOLLOW THE STAR, KENYA</h4>
            <ul>
              <li><a href="https://www.facebook.com/thestarkenya"><i class="fa fa-facebook-square"></i>Facebook</a></li>
              <li><a href="https://twitter.com/thestarkenya"><i class="fa fa-twitter-square"></i>Twitter</a></li>
              <li><a href="https://plus.google.com/u/0/102746437663153160461"><i class="fa fa-google-plus-square"></i>G+</a></li>
              <li><a href="https://instagram.com/thestarkenya"><i class="fa fa-instagram"></i>Instagram</a></li>
              <li><a href="https://www.youtube.com/channel/UC-aT2XsRXmTHxnCeUiMNvTw"><i class="fa fa-youtube-square"></i>YouTube</a></li>
              <li><a href="//www.the-star.co.ke/taxonomy/term/all/rss.xml"><i class="fa fa-rss-square"></i>RSS</a></li>
            </ul>
          </div>

          <!-- Online services -->
          <div class="col-md-3">
            <h4>Online services</h4>
            <ul>
              <li><a href="https://play.google.com/store/apps/details?id=ke.co.thestar.android.news">Mobile App (Android)</a></li>
              <li><a href="https://itunes.apple.com/app/the-star-kenya/id951491767">Mobile App (IOS)</a></li>
              <li><a href="http://www.starclassifieds.co.ke/">The Star, Classifieds</a></li>
              <li><a href="http://health.the-star.co.ke/">The Star, Health</a></li>
              <li><a href="http://www.thestarepaper.co.ke/">The Star, e-paper</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div><!-- /.footer-wrapper-->
  </div>
</footer>

<div id="copyright-section">
  <div class="footer-wrapper clearfix container">
    © 2017 The Star, Kenya. All Rights Reserved
  </div>
</div>

<!-- JAVASCRIPT -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script type="text/javascript" src="/js/utilities.js" ></script>
<script type="text/javascript" src="/js/healthtools.js"></script>

{% include footer_js.html %}

<!-- Facebook -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '582026265221270',
      xfbml      : true,
      version    : 'v2.3'
    });
  };

  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
