<div class="the_modals">
  <!-- Modal -->
  <div id="myModal" style="text-align:justify !important;" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="dname"></h3>
          <span id="number_found"></span>
        </div>
        <div class="modal-body" style="max-height:500px;overflow-y:scroll;">
          <p>
            <div class="loading" style="text-align:center" id="loading">
              <img src="img/indicator.gif">
            </div>
            <div id="mybox"></div>
          </p>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>

        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div id="nhifInfoModal" style="text-align:justify !important;" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4>NHIF has divided the accredited hospitals in to 3 categories:</h4>
        </div>
        <div class="modal-body">
          <p>
            <ul>
              <li><b>Category A - Government Hospitals.</b> Members enjoy full and comprehensive for maternity and medical diseases including surgery. Therefore, if you are a member, you do not pay anything to be admitted.</li>
              <li><b>Category B - Private and Mission.</b> Members get a full comprehensive cover but if surgery is required, the member pays for that.</li>
              <li><b>Category C – Private</b>. NHIF only pays for specified daily benefits and the member pays everything else.</li>
            </ul>
          </p>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div id="premiumRatesModal" style="text-align:justify !important;" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="dname">Premium Rates</h3>
        </div>
        <div class="modal-body">
          <p>
            Enter your gross income to find out how much you should pay*
            <div class="input-group">
              <input id="income" type="text" class="form-control search" placeholder="Gross income" aria-describedby="calculate">
              <span class="input-group-addon" id="calculate"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
            </div>

            <div class="myContribution" id="myContribution">

            </div>
            <div class="self_employed_notification">*Self-employed individuals have a constant rate of KSH 500</div>
          </p>
        </div>
        <div class="modal-footer">

          <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div id="embed_1_modal" style="text-align:justify !important;" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
  <div id="embed_2_modal" style="text-align:justify !important;" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
  <div id="embed_3_modal" style="text-align:justify !important;" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

</div>
