<!--Navigation bar container-->
<div class="container">
    <header id="topbar">
        <div class="container-fluid">
            <div class="region region-top-navigation">
                <span class="date">
                    <script>
                      var weekdays = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
                      var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
                      d = new Date()
                      document.write(weekdays[d.getDay()] + ', ' + months[d.getMonth()] + ' ' + d.getDate() + ', ' + d.getFullYear() )
                    </script>
                </span>
                <div id="block-menu-menu-radiomenu" class="block block-menu block-odd">

                    <div class="content">
                        <ul><li class="first leaf classic-105 mid-1819"><a href="http://www.ustream.tv/channel/classic105-kenya?utm_campaign=JPER&amp;utm_medium=FlashPlayer&amp;utm_source=embed" title="" target="_blank">Classic 105</a></li>
                            <li class="leaf east-fm mid-1822"><a href="http://www.ustream.tv/channel/east-fm?utm_campaign=JPER&amp;utm_medium=FlashPlayer&amp;utm_source=embed" title="" target="_blank">East FM</a></li>
                            <li class="leaf kiss-100 mid-1818"><a href="http://www.ustream.tv/channel/kiss100-kenya?utm_campaign=JPER&amp;utm_medium=FlashPlayer&amp;utm_source=embed" title="" target="_blank">Kiss 100</a></li>
                            <li class="leaf radio-jambo mid-1820"><a href="http://www.ustream.tv/channel/radiojambo-fm?utm_campaign=JPER&amp;utm_medium=FlashPlayer&amp;utm_source=embed" title="" target="_blank">Radio Jambo</a></li>
                            <li class="last leaf mpasho mid-1821"><a href="http://mpasho.co.ke" title="" target="_blank">Mpasho</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </header>
</div>

<div class="row brand_section">
    <div class="container">
        <div class="col-sm-3 col-xs-12 logo text-center">
            <a class="brand" href="/"><img src="/img/logo-big.png"> </a>
        </div>
        <div class="col-sm-6 col-xs-12 sms-section">
            <img src="img/sms.png">
            <h4>Send query to 22495</h4>
            Examples: 1.<span class="sms_example">Doctor James Gicheru</span>, 2.<span class="sms_example">X-Ray in Kiambu</span>, 3.<span class="sms_example">NHIF in Karatina</span>
        </div>
        <div class="col-sm-3 col-xs-12 date-search">
            <div class="date-section">

            </div>
            <div class="input-group">
                <input id="main_search" type="text" class="form-control search" placeholder="Search The Star Health" aria-describedby="site_search_submit">
                <span class="input-group-addon" id="site_search_submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" id="navbar">
                <li class="">
                    <a href="http://www.the-star.co.ke/">Home</a>
                </li>
                <li class="">
                    <a href="http://www.the-star.co.ke/news/latest-news_c401249">Latest News</a>
                </li>
                <li class="">
                    <a href="http://www.the-star.co.ke/news/national_c29654">Today's Paper</a>
                </li>
                <li class="">
                    <a href="http://www.the-star.co.ke/news/business_c29663">Business</a>
                </li>
                <li class="">
                    <a href="http://www.the-star.co.ke/news/sport_c29664">Sport</a>
                </li>
                <li class="">
                    <a href="http://www.the-star.co.ke/news/opinion_c29661">Opinion</a>
                </li>
                <li class="active">
                    <a href="http://health.the-star.co.ke/">Health</a>
                </li>
                <li class="">
                    <a href="http://www.the-star.co.ke/news/lifestyle_c29662">Star Life</a>
                </li>
                <li class="">
                    <a href="http://www.the-star.co.ke/news/sasa_c147383">Weekend</a>
                </li>
                <li class="">
                    <a href="http://www.the-star.co.ke/classifieds" target="_blank">Classified</a>
                </li>
                <li class="last-item">
                    <a href="http://the-starvideos.co.ke/" target="_blank">Videos</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
