---
layout: doctor-nurse-search
---
{% include header.html %}
<body>
    <div class="app">
        <h4 class="app_title"><i class="fa fa-user-md"></i>Dodgy Doctors</h4>
        <div class="app_top">
            Check to see if your doctor/nurse is registered.<br/><small><em>Can't find a name? Send us an email <a href="mailto:starhealth@codeforafrica.org" target="_blank">starhealth@codeforafrica.org</a></em></small>
        </div>
        <div class="app_bottom">
             <select class="form-control" id="search-type">
                <option value="doctor">Doctor Search</option>
                <option value="nurse">Nurse Search</option>
                <option value="co">Nurse Search</option>
            </select>
            <input type="text" placeholder="Start typing doctor's name" class="search form-control" id="doctorName" />

            <button class='btn btn-primary red_button' href="#myModal" role="button" class="btn" data-toggle="modal" id="grabDetails">
                Search
            </button>
            <div class="contribution">
                <a href="#embed_1_modal" data-toggle="modal">Embed</a>
            </div>
        </div>
    </div>
    <script src="js/jquery.js"></script>
    <script>
        var jq191 = $.noConflict();
    </script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>

    <!-- Start Alexa Certify Javascript -->
    <script type="text/javascript">
        _atrk_opts = { atrk_acct:"m1Hdk1a0CM00Gx", domain:"the-star.co.ke",dynamic: true};
        (function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
    </script>
    <noscript><img src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=m1Hdk1a0CM00Gx" style="display:none" height="1" width="1" alt="" /></noscript>
    <!-- End Alexa Certify Javascript -->

    <script src="js/custom.js"></script>
</body>
</html>