{% include header.html %}
{% include navbar.html %}
{% include apps.html %}
<div class="ad-banner">
    &nbsp;
</div>
<div class="container story">
    <div class="col-sm-12">
        <h1 class="title"></h1>
        <span class="story-date"></span> | <span class="author"></span>
        <ul class="menu pull-right">
          <li class="social-follow" data-network="Facebook">
            <a href="https://www.facebook.com/thestarkenya" target="_blank">
              <i class="fa fa-facebook-square"></i> <span>Facebook</span>
            </a>
          </li>
          <li class="social-follow" data-network="Twitter">
            <a href="https://twitter.com/thestarkenya" target="_blank">
              <i class="fa fa-twitter-square"></i> <span>Twitter</span>
            </a>
          </li>
          <li class="social-follow" data-network="Google+">
            <a href="https://plus.google.com/u/0/102746437663153160461" target="_blank">
              <i class="fa fa-google-plus-square"></i> <span>G+</span>
            </a>
          </li>
          <li class="social-follow" data-network="Instagram">
            <a href="https://instagram.com/thestarkenya" target="_blank">
              <i class="fa fa-instagram"></i> <span>Instagram</span>
            </a>
          </li>
          <li class="social-follow" data-network="YouTube">
            <a href="https://www.youtube.com/channel/UC-aT2XsRXmTHxnCeUiMNvTw" target="_blank">
              <i class="fa fa-youtube-square"></i> <span>YouTube</span>
            </a>
          </li>
          <li class="social-follow" data-network="RSS">
            <a href="//www.the-star.co.ke/taxonomy/term/all/rss.xml">
              <i class="fa fa-rss-square"></i> <span>RSS</span>
            </a>
          </li>
        </ul>
    </div>
    <br clear="all">
    <hr>
    <div class="col-sm-8">
        <div class="feature-image"></div>
        <div class="caption"></div>
        <div>
           <ul class="rrssb-buttons rrssb-1">
              <li class="rrssb-facebook social-share" data-network="Facebook" data-initwidth="20" data-size="68">
                <a href="#" class="popup">
                  <span class="rrssb-icon"><i class="fa fa-fw fa-facebook-square"></i></span>
                  <span class="rrssb-text">Facebook</span>
                </a>
              </li>
              <li class="rrssb-twitter social-share" data-network="Twitter" data-initwidth="20" data-size="53">
                <a href="#" class="popup">
                  <span class="rrssb-icon"><i class="fa fa-fw fa-twitter"></i></span>
                  <span class="rrssb-text">Twitter</span>
                </a>
              </li>
              <li class="rrssb-googleplus social-share" data-network="Google+" data-initwidth="20" data-size="59">
                <a href="#" class="popup">
                  <span class="rrssb-icon"><i class="fa fa-fw fa-google-plus"></i></span>
                  <span class="rrssb-text">Google+</span>
                </a>
              </li>
              <li class="rrssb-whatsapp social-share" data-network="WhatsApp" data-initwidth="20" data-size="67">
                <a href="#">
                  <span class="rrssb-icon"><i class="fa fa-fw fa-whatsapp"></i></span>
                  <span class="rrssb-text">WhatsApp</span>
                </a>
              </li>
              <li class="rrssb-email social-share" data-network="Email" data-initwidth="20" data-size="37">
                <a href="#">
                  <span class="rrssb-icon"><i class="fa fa-fw fa-at"></i></span>
                  <span class="rrssb-text">Email</span>
                </a>
              </li>
           </ul>
        </div>
        <div class="story-body"></div>
        <br clear="all">
        <div class="disqus">
            <div id="disqus_thread"></div>
            <script>
                var disqus_config = function () {
                    this.page.url = window.location.href;
                    this.page.identifier = window.location.href.split('#')[1];
                };
                (function() {
                    var d = document, s = d.createElement('script');
                    s.src = 'https://thestarlive.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', + new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </div>
        <br clear="all">
    </div>
    <div class="col-md-4">
        <!-- ads -->
        <div class="must-read">
            <h4>Must read</h4>
            <ul class="must-read-links">
                <li>
                    <a href="#">“we were beaten mercilessly” -Victims of Mumias brutality</a>
                </li>
                <li>
                    <a href="#">Mailu and PS ‘harmful rodents eating roots of the rule of law’</a>
                </li>
                <li>
                    <a href="#">CS Matiang’i reforms curb KCPE cheating</a>
                </li>
                <li>
                    <a href="#">Man 'with details of Jacob Juma murder from Ruto's office' held 4 days</a>
                </li>
                <li>
                    <a href="#">CS Mailu quietly shuffles 98 senior officers at Afya House</a>
                </li>
            </ul>
        </div>

        <div class="latest-news">
            <h4>Latest News</h4>
            <ul class="latest-news-links">
                 <li>
                    <a href="#">“we were beaten mercilessly” -Victims of Mumias brutality</a>
                </li>
                <li>
                    <a href="#">Mailu and PS ‘harmful rodents eating roots of the rule of law’</a>
                </li>
                <li>
                    <a href="#">CS Matiang’i reforms curb KCPE cheating</a>
                </li>
                <li>
                    <a href="#">Man 'with details of Jacob Juma murder from Ruto's office' held 4 days</a>
                </li>
                <li>
                    <a href="#">CS Mailu quietly shuffles 98 senior officers at Afya House</a>
                </li>
            </ul>
        </div>
        <div class="classifieds"></div>
    </div>
</div>
{% include modals.html %}
{% include footer.html %}
